@import "tailwindcss";
.btn {
    @apply 
    bg-cyan-500 
    p-3 
    text-white 
    text-lg 
    w-full 
    uppercase 
    rounded-lg 
    font-bold 
    cursor-pointer 
    cursor-pointer 
    hover:bg-cyan-700 
    transition-colors 
    duration-300
}
.btn-2 {
    @apply 
    bg-green-600 
    p-3 
    text-white 
    text-lg
    uppercase 
    rounded-lg 
    font-bold 
    cursor-pointer 
    cursor-pointer 
    hover:bg-green-700 
    transition-colors 
    duration-300
    m-1
}

.btn-a {
    @apply 
    bg-slate-500 
    p-3 
    text-white 
    text-lg
    uppercase 
    rounded-lg 
    font-bold 
    cursor-pointer 
    cursor-pointer 
    hover:bg-slate-600 
    transition-colors 
    duration-300
    m-1
}

.portada-home {
    background-image: none;
}

@media ( min-width:1020px ) {
    .portada-home {
        background-image: url('/bg.svg');
        background-size: 50%;
    }   
}